cmake-build-debug
Doxyfile
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeFiles
SpreadSimulator/libSpreadSimulator.so
SpreadSimulator/Quadtree/libQuadtree.so
SpreadSimulator/cmake_install.cmake
SpreadSimulator/CMakeFiles
SpreadSimulator/MakeFile
SpreadSimulator/Quadtree/cmake_install.cmake
SpreadSimulator/Quadtree/CMakeFiles
SpreadSimulator/Quadtree/MakeFile
SpreadSimulation
SpreadSimGUI/.qmake.stash
SpreadSimGUI/PandemiC
SpreadSimGUI/main.o
SpreadSimGUI/mainwindow.o
SpreadSimGUI/moc_mainwindow.cpp
SpreadSimGUI/moc_mainwindow.o
SpreadSimGUI/moc_predefs.h
SpreadSimGUI/ui_mainwindow.h
.idea
